.graphmesure {
    height: 400px;
    padding-bottom: 10px;
    margin-bottom: 70px;
}
.highlight {
    border: 2px solid darkgray;
    border-radius: 5;
    background-color:rgba(255,255,255,0.5) !important;
}
.dygraph-legend > span {
    display: block;
}
.dygraph-legend > span:hover {
    width: 98%;
    display: block;
}
.dygraph-legend{
    background: none !important;
    z-index: 10;
    top: 0px !important;
}
.dygraph-title{
  text-align: left !important;
  margin-left: 60px !important;
}

.graphmesure input{
    -webkit-border-radius: none;
    border-radius: none;
    text-shadow:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 20px;
    height: 22px;
    padding: 0px;
    font-size: 12px;
}
