.box {
    margin: 0 7px 10px 0;
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #7f7f7f;
    border-radius: 4px;
    padding: 10px;
    background: linear-gradient(to bottom, #dedede, #fbfbfb);
    font-family: Arial, sans-serif;
    vertical-align: top;
    font-size: 16px;
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .box {
    width:400px;
  }
}
@media screen and (max-width: 480px) {
  .box {
    width:90%;
  }
}

.today_mesure div{
    _border: 1px dotted red;
}
.logo_mesure{
    height: 60px;
    width: 32px;
    vertical-align: bottom;
}
.tempeture_cold {
    background: url('/images/thermometer.png') 0px center no-repeat transparent;
}
.tempeture_confortable {
    background: url('/images/thermometer.png') -52px center no-repeat transparent;
}
.tempeture_warm {
    background: url('/images/thermometer.png') -104px center no-repeat transparent;
}

.light_day {
    background: url('/images/light.png') -10px center no-repeat transparent;
    width: 60px;
}
.light_dark {
    background: url('/images/light.png') -154px center no-repeat transparent;
    width: 60px;
}
.light_night {
    background: url('/images/light.png') -82px center no-repeat transparent;
    width: 60px;
}

.humidity_wet {
    background: url('/images/humidity.png') -112px center no-repeat transparent;
    width: 38px;
}
.humidity_humide {
    background: url('/images/humidity.png') -73px center no-repeat transparent;
    width: 38px;
}
.humidity_dry {
    background: url('/images/humidity.png') -37px center no-repeat transparent;
    width: 38px;
}
.relay_open {
    background: url('/images/relay.png') 2px center no-repeat transparent;
    width: 60px;
}
.relay_close {
    background: url('/images/relay.png') -61px center no-repeat transparent;
    width: 60px;
}
.teleinfo {
    background: url('/images/teleinfo.png') 0px center no-repeat transparent;
    width: 38px;
}
.sensor_unknown {
    background: url('/images/sensor_unknown.png') 0px center no-repeat transparent;
    width: 38px;
}

.logo_trend{
    height: 46px;
    width: 17px;
    vertical-align: bottom;
}
.increase {
    background: url('/images/trend.png') -6px center no-repeat transparent;
}
.stable {
    background: url('/images/trend.png') -38px center no-repeat transparent;
}
.decrease {
    background: url('/images/trend.png') -71px center no-repeat transparent;
}
.titre{
    font-size: 20px;
}
.soustitre{
    font-size: 16px;
    text-align: left;
}
.empile {
    display: inline-block;
    position: relative;
}
.mesure .value {
    font-size: 50px;
}
.mesure .unit {
    font-size: 22px;
}
.mesure .subtitle {
     font-size: 11px;
     color: #7f7f7f;
     margin-top: -5px;
    text-align: right;
}

.mesure_minmax {
    text-align: right;
    font-style: italic;
    font-size: 16px;
}
    .mesure_minmax .min {
        color: gray;
    }
    .mesure_minmax .value {
        font-size: 16px;
    }
    .mesure_minmax .unit {
        font-size: 16px;
        text-align: left;
        margin-left: -3px;
    }
    .mesure_minmax .hour {
        font-size: 12px;
    }
    .mesure_minmax .subtitle {
        font-size: 11px;
        color: #7f7f7f;
        margin-top: -5px;
        font-style: italic;
    }

.old_mesure{
    height: 45px;
}
    .old_mesure > div{
        height: 100%;
        vertical-align: bottom;            
    }
    .old_mesure .yesterday_block{
        margin-top: -9px;
    }
    .old_mesure .value {
        font-size: 26px;
    }
    .old_mesure .unit {
        font-size: 16px;
    }
    .old_mesure .mesure_minmax {
        text-align: right;
        font-style: italic;
        font-size: 16px;
    }

        .old_mesure .mesure_minmax .value {
            font-size: 14px;
        }
        .old_mesure .mesure_minmax .unit {
            font-size: 14px;
        }
        .old_mesure .mesure_minmax .hour {
            font-size: 12px;
        }


.separation_h {
    border-top: 1px solid #a6a6a6;
    background: linear-gradient(to bottom, #dfdfdf, #f2f2f2);
    width: 90%;
    vertical-align: top;
    height: 6px;
    margin: 6px auto;
}
.separation_v {
    border-left: 1px solid #a6a6a6;
    background: linear-gradient(to right, #dfdfdf, #f2f2f2);
    height: 100%;
    vertical-align: top;
    width: 4px;
    margin: 0 0 0 2px;
}